@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url('fonts/Atkinson-Hyperlegible.eot');
  src: url('fonts/Atkinson-Hyperlegible.eot?#iefix') format('embedded-opentype'),
       url('fonts/Atkinson-Hyperlegible.woff2') format('woff2'),
       url('fonts/Atkinson-Hyperlegible.woff') format('woff'),
       url('fonts/Atkinson-Hyperlegible.ttf')  format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible-Italic';
  src: url('fonts/Atkinson-Hyperlegible-Italic.eot');
  src: url('fonts/Atkinson-Hyperlegible-Italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/Atkinson-Hyperlegible-Italic.woff2') format('woff2'),
       url('fonts/Atkinson-Hyperlegible-Italic.woff') format('woff'),
       url('fonts/Atkinson-Hyperlegible-Italic.ttf')  format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible-Regular';
  src: url('fonts/Atkinson-Hyperlegible-Regular.eot');
  src: url('fonts/Atkinson-Hyperlegible-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Atkinson-Hyperlegible-Regular.woff2') format('woff2'),
       url('fonts/Atkinson-Hyperlegible-Regular.woff') format('woff'),
       url('fonts/Atkinson-Hyperlegible-Regular.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible-Italic';
  src: url('fonts/Atkinson-Hyperlegible-Italic.eot');
  src: url('fonts/Atkinson-Hyperlegible-Italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/Atkinson-Hyperlegible-Italic.woff2') format('woff2'),
       url('fonts/Atkinson-Hyperlegible-Italic.woff') format('woff'),
       url('fonts/Atkinson-Hyperlegible-Italic.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible-Demi';
  src: url('fonts/Atkinson-Hyperlegible-Demi.eot');
  src: url('fonts/Atkinson-Hyperlegible-Demi.eot?#iefix') format('embedded-opentype'),
       url('fonts/Atkinson-Hyperlegible-Demi.woff2') format('woff2'),
       url('fonts/Atkinson-Hyperlegible-Demi.woff') format('woff'),
       url('fonts/Atkinson-Hyperlegible-Demi.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible-DemiItalic';
  src: url('fonts/Atkinson-Hyperlegible-DemiItalic.eot');
  src: url('fonts/Atkinson-Hyperlegible-DemiItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/Atkinson-Hyperlegible-DemiItalic.woff2') format('woff2'),
       url('fonts/Atkinson-Hyperlegible-DemiItalic.woff') format('woff'),
       url('fonts/Atkinson-Hyperlegible-DemiItalic.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible-Bold';
  src: url('fonts/Atkinson-Hyperlegible-Bold.eot');
  src: url('fonts/Atkinson-Hyperlegible-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Atkinson-Hyperlegible-Bold.woff2') format('woff2'),
       url('fonts/Atkinson-Hyperlegible-Bold.woff') format('woff'),
       url('fonts/Atkinson-Hyperlegible-Bold.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible-BoldItalic';
  src: url('fonts/Atkinson-Hyperlegible-BoldItalic.eot');
  src: url('fonts/Atkinson-Hyperlegible-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/Atkinson-Hyperlegible-BoldItalic.woff2') format('woff2'),
       url('fonts/Atkinson-Hyperlegible-BoldItalic.woff') format('woff'),
       url('fonts/Atkinson-Hyperlegible-BoldItalic.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible-Black';
  src: url('fonts/Atkinson-Hyperlegible-Black.eot');
  src: url('fonts/Atkinson-Hyperlegible-Black.eot?#iefix') format('embedded-opentype'),
       url('fonts/Atkinson-Hyperlegible-Black.woff2') format('woff2'),
       url('fonts/Atkinson-Hyperlegible-Black.woff') format('woff'),
       url('fonts/Atkinson-Hyperlegible-Black.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible-BlackItalic';
  src: url('fonts/Atkinson-Hyperlegible-BlackItalic.eot');
  src: url('fonts/Atkinson-Hyperlegible-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/Atkinson-Hyperlegible-BlackItalic.woff2') format('woff2'),
       url('fonts/Atkinson-Hyperlegible-BlackItalic.woff') format('woff'),
       url('fonts/Atkinson-Hyperlegible-BlackItalic.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
    font-family: 'Petrona';
    src: url('fonts/Petrona-VariableFont_wght.eot');
    src: url('fonts/Petrona-VariableFont_wght.eot?#iefix') format('embedded-opentype'),
        url('fonts/Petrona-VariableFont_wght.woff2') format('woff2'),
        url('fonts/Petrona-VariableFont_wght.woff') format('woff'),
        url('fonts/Petrona-VariableFont_wght.ttf')  format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Petrona';
    src: url('fonts/Petrona-Italic-VariableFont_wght.eot');
    src: url('fonts/Petrona-Italic-VariableFont_wght.eot?#iefix') format('embedded-opentype'),
        url('fonts/Petrona-Italic-VariableFont_wght.woff2') format('woff2'),
        url('fonts/Petrona-Italic-VariableFont_wght.woff') format('woff'),
        url('fonts/Petrona-Italic-VariableFont_wght.ttf')  format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

:root {
	--decorator-outer-offset-top: .3rem;
	--decorator-outer-offset-left: -.475rem;
	--decorator-border-width: 1px;
	--decorator-outer-dim: 12px;
	--decorator-border: 4px solid #F3E0E1;
}

.decorator {
 flex:0 0 0;
 position:relative;
 width:2pt;
 min-height:100%;
 border-left:var(--decorator-border);
}
.decorator::before {
 position:absolute;
 top:var(--decorator-outer-offset-top);
 left:var(--decorator-outer-offset-left);
 content:' ';
 display:block;
 width:var(--decorator-outer-dim);
 height:var(--decorator-outer-dim);
 border-radius:calc(var(--decorator-outer-dim) / 2);
 background-color:#e8987f
}
.decorator::after {
 position:absolute;
 top:calc(var(--decorator-outer-offset-top) + var(--decorator-border-width));
 left:calc(var(--decorator-outer-offset-left) + var(--decorator-border-width));
 content:' ';
 display:block;
 width:calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
 height:calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
 border-radius:calc((var(--decorator-outer-dim) - (var(--decorator-border-width) * 2)) / 2);
 background-color:#e8987f
}
.blocks:last-child .decorator {
 margin-bottom:0.25in
}
